/* Flex-related code */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Or space-between or space-around */
}

.flex > section {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
}

.flex > section > p {
  flex-grow: 1;
}

/* This rule ist just because of the responsive images */
@media (max-width: 1600px) {
  .flex > section {  
    max-width: 250px;
  }
}

.flex ul {
  display: flex;
  justify-content: space-between;
}

.flex aside {
  width: 100%;
}

/* Basic styling for UI */

body {
  font: 16px "Titillium Web", sans-serif;
  margin: 0;
  background:#EFEFEF;
}

img {
  width: 400px;
  border-radius: 2px;
}

@media (max-width: 1600px) {
  img{
    width: 250px;
  }
}

nav {
  background: #1A1A1A;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  text-align: center;
  color: #fff;
  padding: 0.5em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a.active {
  background: #FFFFFF;
  color: #000;
}

nav ul li a:hover {
  background: #FFFFFF;
  color: #000;

}

header {
  text-align: center;
}

h1 {
  color: #777380;
  font-weight: 200;
  font-size: 35px;
}

h2 {
  font-size: 25px;
}


.flex > section {
  background: #fff;
  padding: 1em;
  margin: 0.5em;
  border-radius: 4px;
}

button {
  background: #009999 url(images/RWKrr8S.png);
  background-repeat: no-repeat;
  background-position: 2em 50%;
  background-size: 2em;
  border: 0;  
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;  
  font-weight: bold;
  font-size: 13px;
  padding: 1.5em 3em;
  padding-left: 6em;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: #006B6B;
  background-size: 3em;
  background-position: 1.5em 50%;
}

.flex ul {
  list-style-type: none;
  padding: 0;
}

.flex li {
  background: #eee;
  font-weight: 700;
  padding: 0.3em 0.6em;
  border-radius: 1em;
}

.abt {

  background: #FFFFFF;
   padding: 1em;

}

.abt p {
  color: #000000;

}

.cntct {

  background: #F5F5F5;
  padding: 1em;

}
.cntct p {
  color: #B49588;

}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

blockquote{
  font-size: 1em;
  width:60%;
  margin:25px auto;
    font-style:italic;
  color: #555555;
  padding:0.8em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}